RewriteEngine on

RewriteRule ^alumni\.php$ beranda.php?page=alumni [L]
RewriteRule ^tentang\.php$ beranda.php?page=tentang [L]
RewriteRule ^kontak\.php$ beranda.php?page=kontak [L]
RewriteRule ^setting_akun\.php$ beranda.php?page=info_akun [L]
RewriteRule ^persyaratan\.php$ beranda.php?page=persyaratan [L]
RewriteRule ^ketentuan\.php$ beranda.php?page=ketentuan [L]
RewriteRule ^panduan\.php$ beranda.php?page=panduan [L]
RewriteRule ^jadwal_kegiatan\.php$ beranda.php?page=jadwal_kegiatan [L]
RewriteRule ^dokumen\.php$ beranda.php?page=dokumen [L]
RewriteRule ^infokursus\.php$ beranda.php?page=infokursus [L]
RewriteRule ^depan\.php$ beranda.php?page=depan [L]
RewriteRule ^download\.php$ beranda.php?page=download [L]
RewriteRule ^karyawan\.php$ beranda.php?page=karyawan [L]
RewriteRule ^tambah_karyawan\.php$ beranda.php?page=tambah_karyawan [L]
RewriteRule ^pernyataan\.php$ beranda.php?page=pernyataan [L]
RewriteRule ^formulir\.php$ beranda.php?page=formulir [L]
RewriteRule ^berkasdokumen\.php$ beranda.php?page=berkasdokumen [L]
RewriteRule ^daftarlolosadministrasi\.php$ beranda.php?page=daftarlolosadministrasi [L]
RewriteRule ^pengumuman_wawancara\.php$ beranda.php?page=pengumuman_wawancara [L]
RewriteRule ^sesi_wawancara\.php$ beranda.php?page=sesi_wawancara [L]
RewriteRule ^penilaianwawancara\.php$ beranda.php?page=penilaianwawancara [L]
RewriteRule ^pertanyaan\.php$ beranda.php?page=pertanyaan [L]
RewriteRule ^tambah_pertanyaan\.php$ beranda.php?page=tambah_pertanyaan [L]
RewriteRule ^daftarloloswawancara\.php$ beranda.php?page=daftarloloswawancara [L]
RewriteRule ^data_bkkbn\.php$ beranda.php?page=data_bkkbn [L]
RewriteRule ^tambah_databkkbn\.php$ beranda.php?page=tambah_data [L]
RewriteRule ^unitkerja\.php$ beranda.php?page=unitkerja [L]
RewriteRule ^universitas\.php$ beranda.php?page=universitas [L]
RewriteRule ^jurusan\.php$ beranda.php?page=jurusan [L]
RewriteRule ^placement_test\.php$ beranda.php?page=placement_test [L]
RewriteRule ^kursus_ielts\.php$ beranda.php?page=kursus_ielts [L]
RewriteRule ^ujian_ielts\.php$ beranda.php?page=ujian_ielts [L]
RewriteRule ^nilai_ujian\.php$ beranda.php?page=nilai_ujian [L]
RewriteRule ^daftarlolosielts\.php$ beranda.php?page=daftarlolosielts [L]
RewriteRule ^pendaftaran_ln\.php$ beranda.php?page=pendaftaran_ln [L]
RewriteRule ^surat_perjanjian\.php$ beranda.php?page=surat_perjanjian [L]
RewriteRule ^penerimabeasiswa\.php$ beranda.php?page=penerimabeasiswa [L]
RewriteRule ^mengundurkan_diri\.php$ beranda.php?page=mengundurkan_diri [L]
RewriteRule ^daftargagallolosadm\.php$ beranda.php?page=daftargagallolosadm [L]
RewriteRule ^daftargagalloloswwc\.php$ beranda.php?page=daftargagalloloswwc [L]
RewriteRule ^daftargagallolosielts\.php$ beranda.php?page=daftargagallolosielts [L]
RewriteRule ^daftargagallolosprj\.php$ beranda.php?page=daftargagallolosprj [L]
RewriteRule ^sedang_tubel\.php$ beranda.php?page=sedang_tubel [L]
