RewriteEngine on

RewriteRule ^alumni\.php$ beranda.php?page=alumni [L]
RewriteRule ^tentang\.php$ beranda.php?page=tentang [L]
RewriteRule ^kontak\.php$ beranda.php?page=kontak [L]
RewriteRule ^ubah_akun\.php$ beranda.php?page=ubah_akun [L]
RewriteRule ^ganti_password\.php$ beranda.php?page=ganti_password [L]
RewriteRule ^pernyataan\.php$ beranda.php?page=pernyataan [L]
RewriteRule ^ketentuan\.php$ beranda.php?page=ketentuan [L]
RewriteRule ^jadwal_kegiatan\.php$ beranda.php?page=jadwal_kegiatan [L]
RewriteRule ^dokumen\.php$ beranda.php?page=dokumen [L]
RewriteRule ^persyaratan\.php$ beranda.php?page=persyaratan [L]
RewriteRule ^persetujuan\.php$ beranda.php?page=persetujuan [L]
RewriteRule ^datapernyataan\.php$ beranda.php?page=datapernyataan [L]
RewriteRule ^unggah_ulang_pernyataan\.php$ beranda.php?page=unggah_ulang_pernyataan [L]
RewriteRule ^formulir\.php$ beranda.php?page=formulir [L]
RewriteRule ^formulir_kosong\.php$ beranda.php?page=formulir_kosong [L]
RewriteRule ^dataformulir\.php$ beranda.php?page=dataformulir [L]
RewriteRule ^detailformulir\.php$ beranda.php?page=detailformulir [L]
RewriteRule ^ubahformulir\.php$ beranda.php?page=ubahformulir [L]
RewriteRule ^ubahkantor\.php$ beranda.php?page=ubahkantor [L]
RewriteRule ^berkasdokumen\.php$ beranda.php?page=berkasdokumen [L]
RewriteRule ^unggah_drh\.php$ beranda.php?page=unggah_drh [L]
RewriteRule ^unggah_fc_sk\.php$ beranda.php?page=unggah_fc_sk [L]
RewriteRule ^unggah_fc_dp3\.php$ beranda.php?page=unggah_fc_dp3 [L]
RewriteRule ^unggah_fc_pakta\.php$ beranda.php?page=unggah_fc_pakta [L]
RewriteRule ^unggah_fc_npwp\.php$ beranda.php?page=unggah_fc_npwp [L]
RewriteRule ^unggah_fc_kk\.php$ beranda.php?page=unggah_fc_kk [L]
RewriteRule ^unggah_fc_ktp\.php$ beranda.php?page=unggah_fc_ktp [L]
RewriteRule ^unggah_fc_ijazah\.php$ beranda.php?page=unggah_fc_ijazah [L]
RewriteRule ^unggah_fc_transkrip\.php$ beranda.php?page=unggah_fc_transkrip [L]
RewriteRule ^unggah_ket_sehat\.php$ beranda.php?page=unggah_ket_sehat [L]
RewriteRule ^unggah_ket_bebas_narkoba\.php$ beranda.php?page=unggah_ket_bebas_narkoba [L]
RewriteRule ^wawancara\.php$ beranda.php?page=wawancara [L]
RewriteRule ^lolos_administrasi\.php$ beranda.php?page=lolos_administrasi [L]
RewriteRule ^ubahpilihanuniv\.php$ beranda.php?page=ubahpilihanuniv [L]
RewriteRule ^daftar_universitas\.php$ beranda.php?page=daftar_universitas [L]
RewriteRule ^lolos_wawancara\.php$ beranda.php?page=lolos_wawancara [L]
RewriteRule ^infokursus\.php$ beranda.php?page=infokursus [L]
RewriteRule ^ielts\.php$ beranda.php?page=ielts [L]
RewriteRule ^lolos_ielts\.php$ beranda.php?page=lolos_ielts [L]
RewriteRule ^surat_perjanjian\.php$ beranda.php?page=surat_perjanjian [L]
RewriteRule ^unggah_prj\.php$ beranda.php?page=unggah_prj [L]
RewriteRule ^unggah_tubel\.php$ beranda.php?page=unggah_tubel [L]
RewriteRule ^penerimabeasiswa\.php$ beranda.php?page=penerimabeasiswa [L]
RewriteRule ^mengundurkan_diri\.php$ beranda.php?page=mengundurkan_diri [L]
RewriteRule ^panduan\.php$ beranda.php?page=panduan [L]
